{% extends 'base.html' %}

{% block title %}Acesso ao Sistema{% endblock %}

{% block content %}
    <h2>Bem-vindo ao Controle de acesso</h2>

    {% if user.is_authenticated %}
        <p>Você está logado como {{ user.username }}.</p>

        {% if user.is_superuser or user.is_staff %}
            <p><a href="{% url 'cadastro_usuario' %}">Cadastrar Novo Usuário</a></p>
            <p><a href="{% url 'lista_usuarios' %}">Lista de Usuários</a></p>
        {% else %}
            <p>Você não possui acesso a essas áreas.</p>
        {% endif %}
    {% else %}
        <p>Por favor, <a href="{% url 'login' %}">faça login</a> para acessar o sistema.</p>
    {% endif %}

{% endblock %}
