{% extends "base.html" %}

{% block title %} Historico de login e logout {% endblock title %} Historico de login e logout 
{% block content %}
<body>
    <h1>Histórico de Login e Logout dos Usuários</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Ação</th>
                <th>Data e Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %}
                <tr>
                    <td>{{ activity.user.username }}</td>
                    <td>{{ activity.get_action_display }}</td>
                    <td>{{ activity.timestamp|date:"d/m/Y H:i" }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhuma atividade encontrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginação -->
    <div>
        <span>
            Página {{ activities.number }} de {{ activities.paginator.num_pages }}
        </span>

        {% if activities.has_previous %}
            <a href="?page=1">Primeira</a>
            <a href="?page={{ activities.previous_page_number }}">Anterior</a>
        {% endif %}

        {% if activities.has_next %}
            <a href="?page={{ activities.next_page_number }}">Próxima</a>
            <a href="?page={{ activities.paginator.num_pages }}">Última</a>
        {% endif %}
{% endblock %}